<h2>Supplement list</h2>
<% @supplements.each do |supplement| %>
<p>ID: <%= supplement.id %>
  Item name: <%= supplement.item_name %>
Amount: <%= supplement.amount %>
Item cost: <%= supplement.item_cost %></p>
<% end %>

