<h2>Supplement list</h2>
<div class="info">
  <% @supplements.each do |supplement| %>
    <p> Supplement ID: <%= supplement.id %><br>
        Item name: <%= supplement.item_name %><br>
        Amount per bag: <%= supplement.amount %><br>
        Item cost: <%= supplement.item_cost %></p>

<% end %>
</div>

