<h2>Supplement item</h2>
<div class = "info">
  <h3>Item_name: <%= @supplement.item_name %></h3>
  <p>
    Amount: <%= @supplement.amount %> <br>
    Cost: <%= @supplement.item_cost %>
  </p>
</div>


 <%#= form_for @supplements do |f| %>
<%#= f.label supplement.id %>
  <%#= f.select supplement.id, Supplement.all.map{|supplement|[supplement.id.to_s + supplement.item_name, supplement.amount, supplement.item_cost]}, :include_blank => true %>
<%# end %>