
nav ul {
  list-style: none;
  padding: 1em 0;
  margin: 0;
  border-radius: 0.5em;
  background-color: #82dcff;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
hr{
  border-top: 5px solid #464543;
}
.info{
  font-size: 1.5em;
  margin-bottom: 2.0em;
}
h2{
  text-align: center;
}
h4 {
  text-align: center;
}
ul{
  list-style: none;
}

.info {
  /*border:1px solid green;*/
  width: 60%;
  margin:auto;
}

.app{
 /* border: 1px solid red;*/
  width: 60%;
  margin:auto;
}

.supple_info{
  width: 60%;
  margin:auto;
  font-size: 1.2em;

}

.supple_info2{
  width:80%;
  margin:auto;
  border:1px dashed #85837F;

}
.practioner{
  text-align: center;
}
.info_sp{
  text-align: center;
}




