nav ul {
  list-style: none;
  padding: 1em 0;
  margin: 0;
  border-radius: 0.5em;
  background-color: #82dcff;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
hr{
  border-top: 5px solid #464543;
}
.info{
  font-size: 1.5em;
  margin-bottom: 2.0em;
}








